{% extends 'public_header.html' %}

{% block content %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="description" content="" />
    <meta name="keywords" content="" />
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Team HTML</title>
    <link href="https://fonts.googleapis.com/css?family=Montserrat%7COpen+Sans:700,400%7CRaleway:400,800,900" rel="stylesheet" />
    <link rel="icon" href="favicon.ico" type="image/x-icon">

    <link href="dev-assets/preloader-default.css" rel="stylesheet" type="text/css" />
    <link href="dev-assets/demo-switcher.css" rel="stylesheet" type="text/css" />

<body>
<form action="coach_log" method="POST">
    {% csrf_token %}
    <div class="jumbotron bg-dark text-center text-white">
  <h1>Have an account?</h1>

<center>

  <form class="form-horizontal">

    <div class="form-group form-group-sm">
     <span class="input-group-addon"><i class="glyphicon glyphicon-user"></i></span>
   <div class="col-sm-11">
     <input id="uname" type="text" class="form-control my-4" name="name" placeholder="Enter name here"required>
    </div>
</div>

<div class="form-group form-group-sm">

     <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
  <div class="col-sm-11">
     <input id="password" type="password" class="form-control" name="password" placeholder="Password"required>
    </div>
</div>
<div class="form-group form-group-sm">
 <div class="col-sm-11">
    <button type="submit" class="btn btn-dark btn-sm btn-block ">SIGN IN</button>
</div>
    {{message}}
</div>
    <button type="button" class="btn btn-link ">forgot password</button>

  </form>

</center>
</form>
<br> <br>
{% endblock %}