{% extends 'coach_header.html' %}

{% block content %}

<div class="jumbotron bg-dark text-center text-white">
  <h3>TEAM</h3>
</div>
<div class="col-sm-11">
     <a href="coach"><button type="submit" class="btn btn-link btn-sm btn-block text-left text-dark"><h4><u>Back To Home</u></h4></button></a>
</div>
    <table>
        <form action="schedule_time" method="post">
            {% csrf_token %}
            <tr>
                <th>ID</th>
                <td><input type="number" name="tid"></td>
            </tr>
            <tr>
                <th>Team Name</th>
                <td><input type="text" name="tname"></td>
            </tr>
            <tr>
                <th>Start time</th>
                <td><input type="datetime-local" name="stime"></td>
            </tr>
            <tr>
                <th>End time</th>
                <td><input type="datetime-local" name="etime"></td>
            </tr>
            <tr>
                <td><input type="submit" value="ADD"></td>
            </tr>
        </form>
    </table>

</form>
<br> <br>
{% endblock %}