
{% load static %}
<html lang="en">

<head>
    <!-- basic -->

</head>
<!-- body -->

<body class="main-layout">
    <!-- loader  -->
    <div class="loader_bg">
        <div class="loader"><img src="{% static 'images/loading.gif' %}" alt="" /></div>
    </div>

    <div class="wrapper">
        <!-- end loader -->

        <div class="sidebar">
            <!-- Sidebar  -->
            <nav id="sidebar">

                <div id="dismiss">
                    <i class="fa fa-arrow-left"></i>
                </div>

                <ul class="list-unstyled components">

                    <li class="active">
                        <a href="index.html">Home</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="creg">Add Coach</a>-->
<!--                    </li>-->
                    <li>
                        <a href="coachmanage">Manage Coach</a>
                    </li>
                    <li>
                        <a href="admin_add_team">Manage Team</a>
                    </li>
<!--                    <li>-->
<!--                        <a href="addvenuee">Add Venue</a>-->
<!--                    </li>-->
                    <li>
                        <a href="paymentview">Payment info</a>
                    </li>
                    <li>
                        <a href="reportview">Player report view</a>
                    </li>

                     <li>
                        <a href="searchp">About plyer</a>
                    </li>
                    <li>
                        <a href="admlogout">Logout</a>
                    </li>
                    
                </ul>

            </nav>
        </div>

        <div id="content">
            <!-- header -->
            <header>
                <div class="container">
                    <div class="row bor_bottom">
                        <div class="col-md-3">
                            <div class="full">
                                <a class="logo" href="index1.html"><img src="{% static 'images/logo1img.png' %}" alt="#" /></a>
                            </div>
                        </div>

                        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 col-6">
                            <ul class="social_top_icon">
                                <li> <a href="#"><i class="fa fa-facebook-f"></i></a></li>
                                <li> <a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li> <a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>

                        <div class="col-xl-3 col-lg-3 col-md-3 col-sm-6 col-6">
                            <div class="full">
                                <div class="right_header_info">
                                    <ul>
                                        <li>
                                            <button type="button" id="sidebarCollapse">
                                                <img src="{% static 'images/menu_icon.png' %}" alt="#">
                                            </button>
                                        </li>

                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <!-- end header -->
            <!-- start slider section -->
            <div class="slider_section banner_main">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="main_text">
                                <br><h2><b>Welcome</b></h2><h1><strong class="b_text_black">MEET AND PLAY<strong></h1>
                              

                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end slider section -->

            <!-- six_box-->
            <div class="container">
                <div class="six_box">
                    <div class="row">
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box">
                                <h3>FootBall</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box yellow_box">
                                <h3>Cricket</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box">
                                <h3>badminton</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box yellow_box">
                                <h3>Golf</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box">
                                <h3>Tennis</h3>
                            </div>
                        </div>
                        <div class="col-xl-2 col-lg-2 col-md-6 col-sm-12 pppp">
                            <div class="black_box yellow_box">
                                <h3>Hokey</h3>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- end six_box-->

            <!-- about -->
            <div id="about" class="about">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="about_img">
                                <figure><img src="{% static 'images/about-img.jpg' %}" alt="#" /></figure>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 pa-ing">
                            <div class="about_text">
                                <div class="about_text_box">
                                    <h2>About<strong class="black_white">MEET & PLAY</strong></h2>
                                    <p>"MEET AND PLAY " is an application that handles the entire process of coordinating a sport team .It eases the process of sport team coaching and also handles almost all activities in a sport team.</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end about -->

            <!-- training -->
            <div id="training" class="training">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">

                                <h2>Exclusive<strong class="black"> training packages</strong></h2>
                            </div>
                        </div>
                    </div>
                    <div class="training_packages_bg">
                        <div class="row">
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="training_packages_box">
                                    <h3>BADMINTON</h3>
                                    <span><h2><b>Rs.</b></h2><strong class="white_bold">1200/-</strong></span>
                                    <p>month</p>
                                    <a class="BookNow" href="#">Book Now</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="training_packages_box">
                                    <h3>Tennis Champion</h3>
                                    <span><h2><b>Rs.</b></h2><strong class="white_bold">1000/-</strong></span>
                                    <p>month</p>
                                    <a class="BookNow" href="#">Book Now</a>
                                </div>
                            </div>
                            <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                                <div class="training_packages_box">
                                    <h3>Cricket Nets</h3>
                                    <span><h2><b>Rs.</b></h2><strong class="white_bold">1000/-</strong></span>
                                    <p>month</p>
                                    <a class="BookNow" href="#">Book Now</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end training -->

            <!-- Gallery -->
            <div id="gallery" class="Gallery">
                <div class="container">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="title">
                                <h2>Latest<strong class="black"> Gallery</strong></h2>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
                            <div class="row">
                                <div class="col-md-12 mar_bottom">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery11.jpg' %}" alt="#" /></figure>
                                    </div>
                                </div>
                                <div class="col-md-12">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery41.jpg' %}" alt="#" /></figure>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12">
                            <div class="row">
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mar_bottom">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery71.jpg' %}" alt="#" /></figure>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6 mar_bottom">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery21.jpg' %}" alt="#" /></figure>
                                    </div>
                                  
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery51.jpg' %}" alt="#" /></figure>
                                    </div>
                                </div>
                                <div class="col-xl-6 col-lg-6 col-md-6 col-sm-6">
                                    <div class="Gallery_box">
                                        <figure><img src="{% static 'images/gallery61.jpg' %}" alt="#" /></figure>
                                    </div>
                                
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- end Gallery -->
</div>
    </div>
    <div class="overlay"></div>
    <!-- Javascript files-->
    <script src="{% static 'js/jquery.min.js' %}"></script>
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.bundle.min.js' %}"></script>
    <script src="{% static 'js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'js/custom.js' %}"></script>
    <script src="{% static 'js/jquery.mCustomScrollbar.concat.min.js' %}"></script>

<!--    <script src="{% static 'js/jquery-3.0.0.min.js' %}"></script>-->
<!--    <script type="text/javascript">-->
<!--        $(document).ready(function() {-->
<!--            $("#sidebar").mCustomScrollbar({-->
<!--                theme: "minimal"-->
<!--            });-->

<!--            $('#dismiss, .overlay').on('click', function() {-->
<!--                $('#sidebar').removeClass('active');-->
<!--                $('.overlay').removeClass('active');-->
<!--            });-->

<!--            $('#sidebarCollapse').on('click', function() {-->
<!--                $('#sidebar').addClass('active');-->
<!--                $('.overlay').addClass('active');-->
<!--                $('.collapse.in').toggleClass('in');-->
<!--                $('a[aria-expanded=true]').attr('aria-expanded', 'false');-->
<!--            });-->
<!--        });-->
<!--    </script>-->
 
</body>

</html>