{% extends 'coach_header.html' %}

{% block content %}
<form action="addreport" method="POST">
    {% csrf_token %}
<div class="jumbotron bg-dark text-center text-white">
  <h2>Report Preparing</h2>
</div>
<div class="col-sm-11">
     <a href="coach"><button type="submit" class="btn btn-link btn-sm btn-block text-left text-dark"><h4><u>Back To Home</u></h4></button></a>
</div>
<center>
<div class="form-group form-group-sm"> 
   

    <div class="col-sm-11">
     <input id="player" type="text" class="form-control text-center my-1" name="playerid" placeholder="Player id"required>
    </div>

    <div class="col-sm-11">
     <input id="report1" type="text" class="form-control text-center my-1" name="reportid" placeholder="Report id"required>
    </div>
   <div class="col-sm-11">
     <input id="report" type="text" class="form-control text-center my-1 p-5" name="report" placeholder="Report"required>
    </div>
  
 
</div>
<div class="form-group form-group-sm">
 <div class="col-sm-11">
    <button type="submit" class="btn btn-dark btn-sm btn-block ">Submit</button>
</div>
</div>


</center>
</form>
<br> <br>
{% endblock %}
