{% include 'home.html' %}
<center>
<form method="post">
<table>
	<tr>
		<td align="center" colspan="2"><h1>Register</h1></td>
	</tr>
	<tr>
		<td>Shop name</td>
		<td><input type="text" required name="shop_name"></td>
	</tr>
	<tr>
		<td>Place</td>
		<td><input type="text" name="place"></td>
	</tr>
	<tr>
		<td>Phone</td>
		<td><input type="text" name="phone"></td>
	</tr>
	<tr>
		<td>Email</td>
		<td><input type="text" name="email"></td>
	</tr>
	<tr>
		<td>License Number</td>
		<td><input type="text" name="licensenumber"></td>
	</tr>
	<tr>
		<td>Password</td>
		<td><input type="pass" name="password"></td>	
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" name="submit" value="Register"></td>
	</tr>
</table>
</form>
</center>
</div>
			</div>
        </div>
      </div>
    </section>

{% include 'footer.html' %}