{% include 'shop_header.html' %}
<center>
<form method="post">
<table>
	<tr>
		<td align="center" colspan="2"><h1>Register</h1></td>
	</tr>
	<tr>
		<td>Model name</td>
		<td><input type="text" name="modelname"></td>
	</tr>
	<tr>
		<td>variant</td>
		<td><input type="text" name="variant"></td>
	</tr>
	<tr>
		<td>Plate number</td>
		<td><input type="text" name="plate_no"></td>
	</tr>
	<tr>
		<td>Chasisno</td>
		<td><input type="text" name="chasisno"></td>
	</tr>
	<tr>
		<td>color</td>
		<td><input type="text" name="color"></td>
	</tr>
	<tr>
		<td>Transmission</td>
		<td><input type="text" name="transmission"></td>
	</tr>
	<tr>
		<td>Mileage</td>
		<td><input type="text" name="mileage"></td>
	</tr>
	<tr>
		<td>Type</td>
		<td><input type="text" name="type"></td>
	</tr>
	<tr>
		<td>Rentalrate</td>
		<td><input type="text" name="rentalrate"></td>
	</tr>
	
	<tr>
		<td>Extrarate</td>
		<td><input type="pass" name="extrarate"></td>	
	</tr>
	<tr>
		<td align="center" colspan="2"><input type="submit" name="submit" value="Add"></td>
	</tr>
</table>

</form>
</center>
{% include 'footer.html' %}